<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949028813912-ipn78d3848afe9un4aucm9ikqcg8ego2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949028813912-ipn78d3848afe9un4aucm9ikqcg8ego2</string>
	<key>API_KEY</key>
	<string>AIzaSyBVKB5kXoX0wIxv6NQ8mgVurhuLTpLhToQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949028813912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lol.ivan.super-metal-mons</string>
	<key>PROJECT_ID</key>
	<string>mons-e34e5</string>
	<key>STORAGE_BUCKET</key>
	<string>mons-e34e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949028813912:ios:9e20c23074dc36310fde2d</string>
</dict>
</plist>